<% flash.each do |type, msg| %>
<% if type=='notice'%>
<div class="text-center full-bg bg-success m-0">
    <p class="text-white m-0"><%=msg%></p>
</div>
<%end%>
<% end %>

<div class="jumbotron text-center">
    <h1 class="display-3">Semesters</h1>
    <%= link_to("Add Semester", new_semester_path, :class => 'action new large-link') %>

</div>

<div class="container text-center">
    <table class="table table-hover table-striped table-bordered" summary="Semester List">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Semester</th>
                <th>Start</th>
                <th>End</th>
                <th>Dues Deadline</th>
                <th><i class="fas fa-edit"></i></th>
                <th><i class="fas fa-trash"></th>
            </tr>
        </thead>
        <% @semesters.each_with_index do |semester, index| %>
        <tr>
            <td><a href="<%= semester_path(semester) %>" class="cell-link"><%=index + 1%></a></td>
            <td><%= semester.semester_name %></td>
            <td><%= semester.start_date.strftime("%b %Y") %></td>
            <td><%= semester.end_date.strftime("%b %Y") %></td>
            <td><%= semester.dues_deadline.strftime("%b %d, %Y") %></td>
            <td>
                <%= link_to edit_semester_path(semester), :class => 'action edit' do%>
                <i class="fas fa-edit"></i>
                <% end%>
            </td>
            <td>
                <%= link_to semester_path(semester), :method => 'delete' , :class => 'action destroy', :data => {confirm: "Are you sure you wish to delete this semester?"} do%>
                <i class="fas fa-trash text-danger"></i>
                <% end%>
            </td>

        </tr>
        <% end %>
    </table>
</div>