<%= error_messages_for(f.object) %>

<table class="table" summary="Subject form fields">
    <tr>
        <th>Amount</th>
        <td><%= f.text_field(:paymentAmount) %></td>
    </tr>
    <tr>
        <th>Member</th>
        <td><%= f.text_field(:member_id) %></td>
    </tr>
    <tr>
        <th>Semester</th>
        <td><%= f.text_field(:semester_id) %></td>
    </tr>
    <tr>
        <th>Officer</th>
        <td><%= f.text_field(:officer_id) %></td>
    </tr>
    <tr>
        <th>Date</th>
        <td><%= f.date_select(:dues_deadline,{order: [:month, :day, :year], selected: Date.today})%></td>
    </tr>
</table>