<% flash.each do |type, msg| %>
<% if type=='notice'%>
    <div class="text-center full-bg bg-success m-0">
        <p class="text-white m-0"><%=msg%></p>
    </div>
<%end%>
<% end %>

<div class="jumbotron text-center">
    <h1 class="display-3">Dues Payments</h1>
    <%= link_to("Add Dues Payment", new_due_path, :class => 'action new large-link') %>
</div>

<div class="container text-center">
  <th>Filter Semester: </th>
  <td><%= select_tag(:chosen_semester, options_for_select(Semester.order("start_date DESC").map{ |s| [ s.semester_name, s.id ] }.insert(0,"All"), :selected => @selectedSemester),
	:onchange => "window.location.href = '/dues?semester=' + document.getElementById('chosen_semester').value", :class => "custom-select w-auto") %></td><br><br>

  <% if @selectedSemester != 'All'%>
    <th>Total = $<%= @total %></th><br><br>
  <% end %>
</div>

<div class="container text-center">
    <table class="table table-hover table-striped table-bordered" summary="Payment List">
        <thead class="thead-dark">
            <tr>
            <th>#</th>
            <th>Member</th>
            <th>Semester</th>
            <th>Amount</th>
            <th>Date</th>
            <th class=""> <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </th>
            </tr>
        </thead>
        <% @payments.each_with_index do |payment, index| %>
        <tr>
            <td><a href="<%= due_path(payment) %>" class="cell-link"><%=index + 1%></a></td>
            <td><%= payment.member.name %></td>
            <td><%= payment.semester_1.semester_name%>
			    <% if payment.semester_id_2 != nil %>
				  <%=", " + payment.semester_2.semester_name %>
				<% end %>
			</td>
            <td>$ <%= payment.payment_amount %></td>
            <td><%= payment.payment_date.strftime('%b %d, %Y') %></td>
            <td>
                <div class="dropdown show">
                    <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:block; width:100%;">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="<%=edit_due_path(payment)%>">Edit</a>
                        <%= link_to "Delete", due_path(payment), method: :delete, data: {confirm: "Are you sure you wish to delete this payment?"}, :class => "dropdown-item" %>
                        <a class="dropdown-item" href="<%=receipt_due_url(payment)%>">Show Receipt</a>

                    </div>
                </div>
            </td>
        </tr>
        <% end %>
    </table>

</div>
