<div id="flash-message">
  <% flash.each do |type, msg| %>
    <% if type=='notice'%>
      <div class="text-center full-bg bg-success m-0" id="flash-div">
      <p class="text-white m-0"><%=msg%></p>
      </div>
    <% elsif type=='error'%>
      <div class="text-center full-bg bg-danger m-0">
      <p class="text-white m-0"><%=msg%></p>
      </div>
    <%end%>
  <% end %>
</div>

<div>
  <div class="text-center full-bg bg-success m-0">
    <p class="text-white m-0" id="message-success"></p>
  </div>
  <div class="text-center full-bg bg-danger m-0">
    <p class="text-white m-0" id="message-failure"></p>
  </div>
</div>

<div class="jumbotron text-center">
  <h1 class="display-3">Dues Payment receipt</h1>
  <a href="<%=payments_path%>" class="large-link">Back to List</a>
</div>

<script>
  function copyText(elementToCopy, message) {
    var ele = document.getElementById(elementToCopy)
    ele.select()
    ele.setSelectionRange(0, 99999); /* For mobile devices */

    success = document.execCommand("copy")
    document.getElementById("flash-div").style.display = 'none'
    if (success) {
      document.getElementById("message-success").innerHTML = message + " copied to clipboard"
      document.getElementById("message-success").style.display = "block"
    } else {
      document.getElementById("message-failure").innerHTML = "There was an error copying to clipboard!"
      document.getElementById("message-failure").style.display = "block"
    }
  }
</script>

<div class="container text-center">
  <p class="lead"><b>Email:</b> <%= @payment.member.email %></p>
  <button id="toggle_list" class="btn btn-primary" onclick="copyText('memberemail', 'Member email')">Copy</button>
  <hr/>
  <p class="lead mt-3"><b>Subject line:</b> Dues payment receipt for <%= @payment.member.name %></p>
  <button id="toggle_list" class="btn btn-primary" onclick="copyText('membername', 'Member name')">Copy</button>
  <hr/>

  <textarea style="position:absolute; top:-100%; left:-100%; font-size: 20px;" id="memberemail"><%= @payment.member.email %></textarea>
  <textarea style="position:absolute; top:-100%; left:-100%; font-size: 20px;" id="membername">Dues payment receipt for <%= @payment.member.name %></textarea>

  <p class="lead mt-3 font-weight-light" stye="color:black">Semester(s): <%= @payment.semester.semester_name %><br>
  Date paid: <%= @payment.payment_date.strftime('%b %d, %Y') %><br>
  Total: <%= @payment.payment_amount %></p>
  <button id="toggle_list" class="btn btn-primary" onclick="copyText('emailcontent', 'Email content')">Copy</button>

 <textarea style="position:absolute; top:-100%; left:-100%; font-size: 20px;" id="emailcontent">Semester(s): <%= @payment.semester.semester_name %>
Date paid: <%= @payment.payment_date.strftime('%b %d, %Y') %>
Total: <%= @payment.payment_amount %></textarea>
</div>