<table class="table" summary="Subject form fields">
    <tr>
        <th>Amount</th>
        <td><%= f.text_field(:paymentAmount) %></td>
    </tr>
    <tr>
        <th>Member</th>
        <td><%= f.select(:member_id, options_for_select(@members.map { |s| [s.email, s.id] }), {}, { :class => "p-1" }) %></td>
    </tr>
    <tr>
        <th>Semester</th>
        <td><%= f.select(:semester_id, options_for_select(@semesters.map { |s| [s.semester_name, s.id] }), {}, { :class => "p-1"}) %></td>
    </tr>
    <tr>
        <th>Officer</th>
        <td><%= f.select(:officer_id, options_for_select(@officers.map { |s| [s.email, s.id] }), {}, { :class => "p-1"}) %></td>
    </tr>
    <tr>
        <th>Date</th>
        <td><%= f.date_select(:paymentDate,{order: [:month, :day, :year], selected: Date.today}, { :class => "p-1"})%></td>
    </tr>
</table>