<% flash.each do |type, msg| %>
<% if type=='notice'%>
	<div class="text-center full-bg bg-success m-0">
  	<p class="text-white m-0"><%=msg%></p>
  </div>
<% end %>
<% end %>

<div class="jumbotron text-center">
  <h1 class="display-3">Transactions</h1>
  <%= link_to("Add transaction", new_transaction_path, :class => 'action new large-link') %>
</div>
<div class="container text-center">
  <th>Filter Transaction Type: </th>
		<td><%= select_tag(:chosen_report_type, options_for_select([['All', 'All'], ['Revenue', true], ['Expense', false]], :selected => @selectedType),
	:onchange => "window.location.href = '/transactions?semester=' + document.getElementById('chosen_semester').value + '&type=' + document.getElementById('chosen_report_type').value", :class => "custom-select w-auto") %></td><br><br>

  <th>Filter Semester: </th>
  <td><%= select_tag(:chosen_semester, options_for_select(Semester.order("start_date DESC").map{ |s| [ s.semester_name, s.id ] }.insert(0,"All"), :selected => @selectedSemester),
	:onchange => "window.location.href = '/transactions?semester=' + document.getElementById('chosen_semester').value + '&type=' + document.getElementById('chosen_report_type').value", :class => "custom-select w-auto") %></td><br><br>


  <% if @selectedType != 'All' || @selectedSemester != 'All'%>
    <th>Total = $<%= @total %></th><br><br>
  <% end %>
</div>

<div class="container text-center">
  <table class="table" summary="transaction List">
    <thead class="thead-dark">
      <tr>
      <th>#</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
      <th class=""> <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </th>
      </tr>
    </thead>
    <% @transactions.each_with_index do |transaction, index| %>
      <% if transaction.transaction_type==true%>
      <tr class="table-success">
      <% else %>
      <tr class="table-danger">
      <% end %>

          <td ><a href="<%= transaction_path(transaction) %>" class="cell-link"><%=index + 1%></a></td>
					<td ><%= transaction.transaction_category %></td>
        	<td >$ <%= transaction.transaction_amount %></td>
					<td ><%= transaction.transaction_date.strftime('%b %d, %Y') %></td>

          <td>
                <div class="dropdown show">
                    <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:block; width:100%;">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="<%=edit_transaction_path(transaction)%>">Edit</a>
                        <%= link_to "Delete", transaction_path(transaction), method: :delete, data: {confirm: "Are you sure you wish to delete this transaction?"}, :class => "dropdown-item" %>
                    </div>
                </div>
          </td>
      </tr>
    <% end %>
  </table>
</div>