<div class="jumbotron text-center">
  <h1 class="display-3">Transaction Information</h1>
  <a href="<%=transactions_path%>" class="large-link">Back to List</a>
</div>

<div class="container text-center">
  <table class="table" summary="Transaction detail view">
    <% if @transaction.transaction_type%>
      <tr class="table-success">
        <th>Type</th>
        <td>Revenue</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>$<%= @transaction.transaction_amount %></td>
      </tr>
    <% else %>
      <tr class="table-danger">
        <th>Type</th>
        <td>Expense</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>$<%= @transaction.transaction_amount %></td>
      </tr>
		<% end %>
		<tr>
      <th>Category</th>
      <td><%= @transaction.transaction_category %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @transaction.transaction_date.strftime("%B %d, %Y") %></td>
    </tr>
  </table>
</div>