<div class="jumbotron text-center">
  <h1 class="display-3">Transaction Information</h1>
  <a href="<%=transactions_path%>" class="large-link">Back to List</a>
</div>

<div class="container text-center">
  <table class="table" summary="Member detail view">
    <tr>
      <th>ID:</th>
      <td><%= @transaction.id %></td>
    </tr>     
        
    <% if @transaction.transaction_type==true%>
      <tr>
        <th>Type</th>
        <td class="bg-success">Revenue</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td class="bg-success">$<%= @transaction.transaction_amount %></td>
      </tr>
    <% else %>
      <tr>
        <th>Type</th>
        <td class="bg-danger">Expense</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td class="bg-danger">$<%= @transaction.transaction_amount %></td>
      </tr>
		<% end %>
			
		<tr>
      <th>Category</th>
      <td><%= @transaction.transaction_category %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @transaction.transaction_date.strftime("%B %d, %Y") %></td>
    </tr>
  </table>
</div>