<% flash.each do |type, msg| %>
<% if type=='notice'%>
<div class="text-center full-bg bg-success m-0">
    <p class="text-white m-0"><%=msg%></p>
</div>
<%end%>
<% end %>

<div class="jumbotron text-center">
    <h1 class="display-3">Members</h1>
    <%= link_to("Add Member", new_member_path, :class => 'action new large-link') %>
</div>


<div class="container text-center">
    <table class="table table-hover table-striped table-bordered" summary="Member List">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th><i class="fas fa-edit"></i></th>
            <th><i class="fas fa-trash"></th>
        </tr>
        <% @members.each do |member| %>
        <tr>
            <td><%= member.name %></td>
            <td><%= member.email %></td>
            <td>
                <%= link_to edit_member_path(member), :class => 'action edit' do%>
                <i class="fas fa-edit"></i>
                <% end%>
            </td>
            <td>
                <%= link_to member_path(member), :method => :delete , :data => {confirm: "Are you sure you wish to delete this member?"} do%>
                <i class="fas fa-trash text-danger"></i>
                <% end%>
            </td>
        </tr>
        <% end %>
    </table>
</div>