<% flash.each do |type, msg| %>
<% if type=='notice'%>
<div class="text-center full-bg bg-success m-0">
    <p class="text-white m-0"><%=msg%></p>
</div>
<%end%>
<% end %>

<div class="jumbotron text-center">
    <h1 class="display-3">Members</h1>
    <%= link_to("Add Member", new_member_path, :class => 'action new large-link') %>
</div>

<div class="container text-center">
    <th>Select view of active members:</th>
    <td><%= select_tag(:view_semester_id, options_for_select(Semester.order("start_date DESC").map{ |s| [ s.semester_name, s.id ] }.insert(0,"None"), :selected => @selected),
	:onchange => 'window.location.href = \'/members.\'+ this.value') %></td></br>
    <th>Generate mailing list from view: </th>
    <button id="#toggle_list" onclick="showList()">Show/Hide List</button></br>
    <script>
        function showList() {
            var x = document.getElementById("list_area");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <div id="list_area" style="display:none;">
        <textarea id="mailing_list"><%= @mailing_list %></textarea> <button onclick="copyText()">Copy List</button>
    </div></br>
    <script>
        function copyText() {
            console.log("test")
            var posturl = document.getElementById("mailing_list");
            posturl.select();
            document.execCommand("copy");
        }
    </script>
</div>

<div class="container text-center">
    <table class="table table-hover table-striped table-bordered" summary="Member List">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th><i class="fas fa-edit"></i></th>
                <th><i class="fas fa-trash"></th>
            </tr>
        </thead>
        <% @members.each_with_index do |member, index| %>
        <tr>
            <td><a href="<%= member_path(member) %>" class="cell-link"><%=index + 1%></a></td>
            <td><%= member.name %></td>
            <td><%= member.email %></td>
            <td>
                <%= link_to edit_member_path(member), :class => 'action edit' do%>
                <i class="fas fa-edit"></i>
                <% end%>
            </td>
            <td>
                <%= link_to member_path(member), :method => :delete , :data => {confirm: "Are you sure you wish to delete this member?"} do%>
                <i class="fas fa-trash text-danger"></i>
                <% end%>
            </td>
        </tr>
        <% end %>
    </table>
</div>