<div id="flash-message">
    <% flash.each do |type, msg| %>
    <% if type=='notice'%>
    <div class="text-center full-bg bg-success m-0">
        <p class="text-white m-0"><%=msg%></p>
    </div>
    <% elsif type=='error'%>
    <div class="text-center full-bg bg-danger m-0">
        <p class="text-white m-0"><%=msg%></p>
    </div>
    <%end%>
    <% end %>
</div>

<div>
    <div class="text-center full-bg bg-success m-0">
        <p class="text-white m-0" id="copy-message-success"></p>
    </div>
    <div class="text-center full-bg bg-danger m-0">
        <p class="text-white m-0" id="copy-message-failure"></p>
    </div>
</div>

<div class="jumbotron text-center">
    <h1 class="display-3">Members</h1>
    <%= link_to("Add Member", new_member_path, :class => 'action new large-link') %>
</div>

<div class="container text-center">
    <div class="col">
        <th>Show Active Members for: </th>
        <td><%= select_tag(:view_semester_id, options_for_select(Semester.order("start_date DESC").map{ |s| [ s.semester_name, s.id ] }.insert(0,"None"), :selected => @selected),
	:onchange => 'window.location.href = \'/members.\'+ this.value', :class => "p-1") %></td><br>
        <button id="toggle_list" class="btn btn-primary mt-3" onclick="copyText()">Copy Mailing List</button></br>
        <textarea style="position:absolute; top:-100%; left:-100%;" id="tobecopied"><%= @mailing_list %></textarea>
        <script>
            $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
            function copyText() {
                var ele = document.getElementById("tobecopied")
                ele.select()
                ele.setSelectionRange(0, 99999); /* For mobile devices */

                success = document.execCommand("copy")
                if (success) {
                    document.getElementById("copy-message-success").innerHTML = "Mailing list copied to clipboard"
                    document.getElementById("copy-message-success").style.display = "block"
                } else {
                    // $("#toggle_list").attr('title', 'There was an error copying to clipboard!')
                }
            }
        </script>
    </div>
</div>

<div class="container text-center mt-3">
    <table class="table table-hover table-striped table-bordered" summary="Member List">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th><i class="fas fa-edit"></i></th>
                <th><i class="fas fa-trash"></th>
            </tr>
        </thead>
        <% @members.each_with_index do |member, index| %>
        <tr>
            <td><a href="<%= member_path(member) %>" class="cell-link"><%=index + 1%></a></td>
            <td><%= member.name %></td>
            <td><%= member.email %></td>
            <td>
                <%= link_to edit_member_path(member), :class => 'action edit' do%>
                <i class="fas fa-edit"></i>
                <% end%>
            </td>
            <td>
                <%= link_to member_path(member), :method => :delete , :data => {confirm: "Are you sure you wish to delete this member?"} do%>
                <i class="fas fa-trash text-danger"></i>
                <% end%>
            </td>
        </tr>
        <% end %>
    </table>
</div>